@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://ayu-images.s3.ap-south-1.amazonaws.com/vikram+aura/Roterline-jEnYG.ttf');

@font-face {
  font-family: 'Roterline';
  src: url('https://ayu-images.s3.ap-south-1.amazonaws.com/vikram+aura/Roterline-jEnYG.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova Semibold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* .font-roterline {
  font-family: 'Roterline', sans-serif;
} */

.font-inter {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: Proxima Nova, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* .uppercase {
  font-family: 'Roterline', sans-serif;
  letter-spacing: 0.04em;
} */
